# Mod15 Aggregation and Grouping

## Simple Aggregation in Pandas

In [ ]:
import pandas as pd
import numpy as np

For Pandas ``Series``

In [ ]:
rng = np.random.RandomState(42)
ser = pd.Series(rng.rand(5))
ser

In [ ]:
ser.sum()

In [ ]:
ser.mean()

For a ``DataFrame``, by default the aggregates return results within each column:

In [ ]:
rng = np.random.RandomState(42)
df = pd.DataFrame({'A': rng.rand(5),
                   'B': rng.rand(5)})
df

In [ ]:
df.mean()

In [ ]:
df.agg('mean')

In [ ]:
df.mean(axis=1)

## Planets Data

In [ ]:
import seaborn as sns
planets = sns.load_dataset('planets')
planets.shape

In [ ]:
planets.head()

In [ ]:
# planets.dropna().agg('describe')
planets.dropna().describe()

## GroupBy

In [ ]:
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'data': range(6)}, columns=['key', 'data'])
df

In [ ]:
df.groupby('key')

In [ ]:
df.groupby('key').sum()

#### Column indexing

In [ ]:
planets.groupby('method')

In [ ]:
planets.groupby('method')['orbital_period']

no computation is done until we call some aggregate on the object:

In [ ]:
planets.groupby('method')['orbital_period'].median()

In [ ]:
planets.groupby('method')['year'].describe()

## apply() Method

#### DataFrame apply()

In [ ]:
rng = np.random.RandomState(0)
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'data1': range(6),
                   'data2': rng.randint(0, 10, 6)},
                   columns = ['key', 'data1', 'data2'])
df

In [ ]:
df.iloc[:,1:].apply(max,axis=1)

In [ ]:
# define evaluation function
def norm_by_data2(x):
    # x is a DataFrame of group values
#     print(x,end='\n------------------\n')
    x['data1'] /= x['data2'].sum()
    return x

In [ ]:
# using apply() method
df.groupby('key').apply(norm_by_data2)

In [ ]:
x = df.loc[df['key']=='A',:]
display(x)
x['data1'] = x['data1']/x['data2'].sum()
display(x)

##### Series apply()

In [ ]:
def times10(x):
    return x * 10 if x < 10 else x

In [ ]:
ser.apply(times10)

## Lab

<b>延續 planets 資料集，試著將所有的 'method' 偵測到的行星距離(ditance) 最大(max) 與最小(min) 的資料顯示出來</b>

<b>如果有空值，用 0 取代</b>