# Mod04 Using NumPy Array

In [1]:
import numpy as np
import pandas as pd

In [4]:
np.__version__

'1.18.5'

## NumPy indexing and slicing

In [5]:
# print entire array, element 0, element 1, last element.
ar = np.arange(5); print(ar); ar[0], ar[1], ar[-1]

[0 1 2 3 4]

(0, 1, 4)

In [6]:
# Reverse array using ::-1 idiom
ar=np.arange(5); ar[::-1]

array([4, 3, 2, 1, 0])

In [7]:
ar = np.array([[2,3,4],[9,8,7],[11,12,13]]); ar

array([[ 2,  3,  4],
       [ 9,  8,  7],
       [11, 12, 13]])

In [8]:
ar[1,1]

8

In [9]:
ar[1,1]=5; ar

array([[ 2,  3,  4],
       [ 9,  5,  7],
       [11, 12, 13]])

In [10]:
# Retrieve row 2
ar[2]

array([11, 12, 13])

In [11]:
ar[2,:]

array([11, 12, 13])

In [12]:
# Retrieve column 1
ar[:,1]

array([ 3,  5, 12])

##  Array slicing
Arrays can be sliced using the following syntax:<br>
ar[startIndex: endIndex: stepValue].

In [13]:
ar=2*np.arange(6); ar

array([ 0,  2,  4,  6,  8, 10])

In [14]:
ar[1:5:2]

array([2, 6])

In [15]:
# if we wish to include the endIndex value, we need to go above it
ar[1:6:2]

array([ 2,  6, 10])

In [16]:
ar[:4]

array([0, 2, 4, 6])

In [17]:
ar[4:]

array([ 8, 10])

In [18]:
# Slice array with stepValue=3
ar[::3]

array([0, 6])

Assignment and slicing can be combined as shown in the following code snippet:

In [19]:
ar

array([ 0,  2,  4,  6,  8, 10])

In [20]:
ar[:3]=1; ar

array([ 1,  1,  1,  6,  8, 10])

In [21]:
ar[2:]=np.ones(4);ar

array([1, 1, 1, 1, 1, 1])

### Fancy Indexing

In [22]:
rand = np.random.RandomState(42)
x = rand.randint(100, size=10)
x

array([51, 92, 14, 71, 60, 20, 82, 86, 74, 74])

In [23]:
# access three different elements
[x[3], x[7], x[2]]

[71, 86, 14]

In [24]:
x[[3,7,2]]

array([71, 86, 14])

#### Access rows in 2d array

In [2]:
arr = np.empty((8, 4))
for i in range(8):
    arr[i] = i

In [3]:
arr

array([[0., 0., 0., 0.],
       [1., 1., 1., 1.],
       [2., 2., 2., 2.],
       [3., 3., 3., 3.],
       [4., 4., 4., 4.],
       [5., 5., 5., 5.],
       [6., 6., 6., 6.],
       [7., 7., 7., 7.]])

In [8]:
arr[[4, 3, 0, 6]]

array([[4., 4., 4., 4.],
       [3., 3., 3., 3.],
       [0., 0., 0., 0.],
       [6., 6., 6., 6.]])

Arrays of integers can be used to index an array to produce another array

In [36]:
ar=11*np.arange(0,10); ar

array([ 0, 11, 22, 33, 44, 55, 66, 77, 88, 99])

In [37]:
ar[np.array([1,3,4,2,7])]

array([11, 33, 44, 22, 77])

Assignment is also possible with array indexing

In [34]:
ar[[1,3]]=50; ar

array([ 0, 50, 22, 50, 44, 55, 66, 77, 88, 99])

## Array masking

In [28]:
np.random.seed(10)
ar=np.random.randint(0,25,10); ar

array([ 9,  4, 15,  0, 17, 16, 17,  8,  9,  0])

In [29]:
evenMask=(ar%2==0); evenMask

array([False,  True, False,  True, False,  True, False,  True, False,
        True])

In [30]:
evenNums=ar[evenMask]; evenNums

array([ 4,  0, 16,  8,  0])

To eliminate missing values

In [31]:
ar=np.array(['Hungary','Nigeria',
'Guatemala','','Poland','','Japan']); ar

array(['Hungary', 'Nigeria', 'Guatemala', '', 'Poland', '', 'Japan'],
      dtype='<U9')

In [32]:
ar[ar=='']='USA'; ar

array(['Hungary', 'Nigeria', 'Guatemala', 'USA', 'Poland', 'USA', 'Japan'],
      dtype='<U9')

## Copies and views

<b>Modifying view modifies original array</b>

In [35]:
ar1=np.arange(12); ar1

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [36]:
ar2=ar1[::2]; ar2

array([ 0,  2,  4,  6,  8, 10])

In [37]:
ar2[1]=-1; ar1

array([ 0,  1, -1,  3,  4,  5,  6,  7,  8,  9, 10, 11])

<b>Use np.copy to force a copy</b><br>

In [38]:
ar=np.arange(8); ar

array([0, 1, 2, 3, 4, 5, 6, 7])

In [39]:
arc=ar[:3].copy(); arc

array([0, 1, 2])

In [40]:
arc[0]=-1; arc

array([-1,  1,  2])

In [41]:
ar

array([0, 1, 2, 3, 4, 5, 6, 7])

## Lab

<b>有一個 7x4 的陣列，每一列代表一個人的資料，人名放在 names 的陣列<br>
試著取得 Will 的資料如下<br>
```
array([[ 0.50309684,  0.40641447,  0.32346101, -0.49341088],
       [-0.0441948 ,  1.56763255,  1.05110868,  0.40636843]])
```
</b>

In [ ]:
# every row of data corresponding to index of names
np.random.seed(20)
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
data = np.random.randn(7, 4)

In [ ]:
names

In [ ]:
data

<b>有兩個陣列分別為 x 與 x_sub，試著將 x_sub 的 [0,0] 改為 99，查看 x 陣列是否有改變?</b>

In [ ]:
np.random.seed(0)
x = np.random.randint(10, size=(3, 4))
x

In [ ]:
x_sub = x[:2, :2]
x_sub

<b>請取出如下圖示的值
<details>
    <img src='./img/array_slice.png'>
</details>

In [50]:
arr = np.array([[ 0,  1,  2,  3,  4,  5],
                [10, 11, 12, 13, 14, 15],
                [20, 21, 22, 23, 24, 25],
                [30, 31, 32, 33, 34, 35],
                [40, 41, 42, 43, 44, 45],
                [50, 51, 52, 53, 54, 55]])
arr

array([[ 0,  1,  2,  3,  4,  5],
       [10, 11, 12, 13, 14, 15],
       [20, 21, 22, 23, 24, 25],
       [30, 31, 32, 33, 34, 35],
       [40, 41, 42, 43, 44, 45],
       [50, 51, 52, 53, 54, 55]])